@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-height: 2rem;

  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);

  --z-fixed: 100;
}

body {
  font-family: 'Inter', sans-serif;
  position: relative;
  font-size: 15px;
}

main {
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
  cursor: pointer;
}

img {
  width: 100%;
}
.container {
  max-width: 1024px;
  margin: 1.5rem 1rem 0;
}
/* ***************** */
/* MENU */
/* ***************** */

.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.nav__toggle {
  color: #000;
  display: inline-flex;
}

.nav__logo {
  width: 2.5rem;
}

.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: #fff;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    transition: 0.3s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  text-align: left;
  row-gap: 1.75rem;
  padding-top: 9rem;
  padding-left: 1rem;
}

.nav__link {
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  transition: 0.3s;
}

.nav__close {
  font-size: 2rem;
  color: #000;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  cursor: pointer;
}

/* Show menu */

.show-menu {
  right: 0;
}

/* Change background header */
.scroll-header {
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: hsla(219, 4%, 4%, 0.8);
  box-shadow: 0 2px 4px hsla(0, 0%, 1%, 1);
}

/* Active link */
.active-link {
  color: var(--first-color-alt);
}

.attribution {
  display: none;
}

/* ***************** */
/* CONTENT */
/* ***************** */
.content {
  padding-top: 3rem;
}

.image-web-desktop {
  display: none;
}
.image-web-mobile {
  display: block;
}

.main-text {
  margin-bottom: 3rem;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-weight: 800;
  font-size: 2.2rem;
  padding-right: 3rem;
  line-height: 2.3rem;
}

.main-text .right p {
  font-size: 0.88rem;
  line-height: 1.8;
  margin-bottom: 1.8rem;
  letter-spacing: 0.3px;
  color: var(--dark-grayish-blue);
}
.main-text .right .btn {
  background-color: var(--soft-red);
  font-size: 0.75rem;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0.8rem 2rem;
}

.black-box {
  background-color: var(--very-dark-blue);
  padding: 1.2rem;
  padding-bottom: 0;
}

.black-box h2 {
  color: var(--soft-orange);
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.box {
  color: #fff;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--dark-grayish-blue);
}

.box h3 {
  font-size: 1.1rem;
  margin-bottom: 0.85rem;
}

.box p {
  color: #9d9eb0;
  font-size: 0.85rem;
  line-height: 1.8;
}

.boxes .box:last-of-type {
  border: none;
  padding: 0;
  padding-bottom: 1.5rem;
}

.down-content-square {
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
  margin-bottom: 1.5rem;
}

.down-content-square-image {
  flex: 2;
}

.down-content-square-text {
  flex: 5;
}

.down-content-square-text h2 {
  color: var(--grayish-blue);
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.down-content-square p span {
  font-weight: 900;
  display: block;
  font-size: 1.1rem;

  color: #000;
}

.down-content-square p {
  color: var(--dark-grayish-blue);
  font-size: 0.8rem;
  line-height: 1.8;
}

@media screen and (max-width: 320px) {
  h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 800;
    font-size: 2rem;
    padding-right: 2rem;
    line-height: 2rem;
  }
  .main-text .right p {
    line-height: 1.5;
  }
}

@media screen and (min-width: 632px) {
  .container {
    max-width: 1110px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  /* body::after {
    content: '';
    margin-top: -6rem !important;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    height: 1024px;
    width: 1440px;
    margin: 0 auto;

    position: absolute;
    z-index: -3;

    background: url('design/desktop-design.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
  }

  main {
    opacity: 0.7;
  } */

  .header {
    margin-top: 0;
    background-color: transparent;
    position: static;
  }

  .container {
    margin: 0 auto;
  }

  .nav {
    height: calc(var(--header-height));
    /* opacity: 0.5; */
    margin-top: 3rem;
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 2.1rem;
    padding-top: 0;
  }

  .nav__link {
    font-size: 1rem;
    text-transform: initial;
    color: var(--dark-grayish-blue);
    font-weight: 400;
  }

  .nav__logo {
    width: 4rem;
  }

  .image-web-desktop {
    display: block;
  }
  .image-web-mobile {
    display: none;
  }

  .content {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .upper-box {
    display: flex;
    column-gap: 2rem;
  }

  .main-content {
    width: 135%;
  }

  .main-text {
    display: flex;
  }

  .main-text > .left,
  .main-text > .right {
    flex: 1;
  }

  .left h1 {
    margin-top: 1.8rem;
    line-height: 1.1;
    font-size: 3.4rem;
  }

  .right {
    margin-top: 2rem;
    padding-left: 2rem;
  }

  .main-text .right p {
    line-height: 1.7;
    margin-bottom: 3rem;
    font-size: 0.9rem;
  }

  .main-text .right .btn {
    padding: 1rem 2rem;
    letter-spacing: 5.5px;
  }
  .box {
    padding-bottom: 2.1rem;
  }

  .black-box {
    width: 60%;
    padding: 1.6rem;
    padding-bottom: 0;
    margin-bottom: 5rem;
  }

  .black-box h2 {
    font-size: 2.5rem;
  }

  .black-box h3 {
    font-size: 1.2rem;
  }

  .black-box p {
    font-size: 0.94rem;
    line-height: 1.6;
  }

  .boxes .box:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .main-content {
    display: flex;
    flex-direction: column;
  }

  .down-content {
    display: flex;
  }

  .down-content-square {
    column-gap: 0;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .down-content-square:nth-last-of-type(1) {
    padding-left: 3rem;
  }

  .down-content-square-text {
    padding-left: 1.5rem;
  }

  .down-content-square-text p {
    line-height: 1.6;
    font-size: 1rem;
  }

  .down-content-square-text p span {
    margin-bottom: 0.5rem;
  }
}

@media (hover: hover) {
  .nav__link:hover {
    color: var(--soft-red);
  }

  .down-content-square-text p span:hover {
    color: var(--soft-red);
    cursor: pointer;
  }

  .box h3:hover {
    color: var(--soft-orange);
    cursor: pointer;
  }

  .right .btn:hover {
    background-color: #000;
  }
}
