@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-height: 2rem;

  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);

  --z-fixed: 100;
}

body {
  font-family: 'Inter', sans-serif;
  position: relative;
  font-size: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  overflow: hidden;
}

ul li a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
}
.container {
  max-width: 1024px;
  margin: 1.5rem 1rem 0;
}
/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__toggle {
  color: #000;
  display: inline-flex;
}

.nav__logo {
  width: 2.5rem;
}

.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: #fff;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    backdrop-filter: blur(11px);
    transition: 0.3s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  text-align: left;
  row-gap: 1.75rem;
  padding-top: 9rem;
  padding-left: 1rem;
}

.nav__link {
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--soft-orange);
}

.nav__close {
  font-size: 2rem;
  color: #000;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  cursor: pointer;
}

/* Show menu */

.show-menu {
  right: 0;
}

/* Change background header */
.scroll-header {
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: hsla(219, 4%, 4%, 0.8);
  box-shadow: 0 2px 4px hsla(0, 0%, 1%, 1);
}

/* Active link */
.active-link {
  color: var(--first-color-alt);
}

.attribution {
  display: none;
}

/* ***************** */
/* MENU */
/* ***************** */

/* ***************** */
/* CONTENT */
/* ***************** */
.content {
  padding-top: 3rem;
}

.image-web-desktop {
  display: none;
}
.image-web-mobile {
  display: block;
}

@media screen and (max-width: 320px) {
}

@media screen and (min-width: 480px) {
  body {
    align-items: center;
  }
}

@media screen and (min-width: 632px) {
  .container {
    max-width: 1024px;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
    padding-top: 0;
  }

  .nav__link {
    font-size: 1rem;
    text-transform: initial;
  }
}

@media screen and (min-width: 1025) {
  body {
    align-items: center;
  }
}

@media screen and (min-width: 1201px) {
  body {
    align-items: center;
  }
}

/*320px — 480px: Mobile devices
//481px — 768px: iPads, Tablets
//769px — 1024px: Small screens, laptops
//1025px — 1200px: Desktops, large screens
//1201px and more —  Extra large screens, TV
*/
